
<div class="container">
   <div class="row">
      <div class="col-md-6">
          <div *ngIf="profile">
              <div>
                 <img  src="https://avatars1.githubusercontent.com/u/52695424?v=4" width="320" height="320">
                   <div>
                          
                      <span><br>works at Moringa school</span>
                      <span><br>place : Kigali</span><br>
                      <span> Hireable status: To be hired</span>
                   </div>
            
                 
                   <div class="col-sm-6">
                      <div>
                        <p>
                            <span appStrikethrough>21 public_Repos</span>
                            <br><span>2 followers</span>
                            <br><span>2 following</span>
                            <br><span>0 public_gists</span>
                         </p>
                      </div>
                   </div>

              </div>  
           </div>
          </div>
                <div class="col-md-6">
                        <h3>Github Search</h3>
                        <p>this website will get and find your profile information on any github user<br> when you get on the website you go to the navbar and click on search and then enter the any username on github and then you will see the profile and infos displayed on the website you can also visit the github user account by clicking on visit account </p>
                     
                        
                </div>
    </div>
           
</div>
          
          
      
       