<div class="container">
  <div class="row">
    <div class="col-md-6">
<div *ngIf="profile">
     
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <img  src="https://avatars1.githubusercontent.com/u/52695424?v=4" width="200" height="200">
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  {{profile.name}} <span>({{profile.login}})</span>
                  <span *ngIf="profile.company"><br>works at {{profile.company}}</span>
                  <span *ngIf="profile.location"><br>place : {{profile.location}}</span><br>
                  <span *ngIf="profile.hireable"> Hireable status: To be hired.</span>
                </div>
              </div>
                 
                   <div class="col-sm-5">
                     <div>
                       <p>
                         <span class="label label-default">{{profile.public_repos}} public_Repos</span>
                         <br><span class="label label-success">{{profile.followers}} followers</span>
                         <br><span class="label label-default">{{profile.following}} following</span>
                         <br><span class="label success">{{profile.public_gists}} public_gists</span>
                     <br><a href="{{profile.html_url}}" class="btn btn-success">View Profile</a>
                        </p>
                     </div>
                   </div>
</div>
          </div>  
</div>
</div>
           <div class="col-md-6">
              <div class="panel panel-default">
             
                  <h1>Repos</h1>
                </div>
                <div class="panel-body" *ngFor="let repo of repos">
                  <p>
                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View this project on github</a>
                  </p>
                 </div> <p>{{repo.description}}</p>
                </div>
              </div>
             
            </div>
          
          
      
       