
<div class="container">
  <div class="row">
    <div class="col-md-6">
<div *ngIf="profile">
     
          <div class="panel-body">
            <!-- <div class="row">
              <div class="col-md-12"> -->
                <img  src="https://avatars1.githubusercontent.com/u/52695424?v=4" width="200" height="200">
              <!-- </div> -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span><br>works at Moringa school</span>
                  <span><br>place : Kigali</span><br>
                  <span> Hireable status: To be hired</span>
                </div>
              </div>
                 
                   <div class="col-sm-6">
                     <div>
                       <p>
                          <span appStrikethrough>21 public_Repos</span>
                         <br><span>2 followers</span>
                         <br><span>2 following</span>
                         <br><span>0 public_gists</span>
                     <br><a href="{{profile.html_url}}" href="https://github.com/evelyne250" class="btn btn-success">Visit account</a>
                        </p>
                     </div>
                   </div>
<!-- </div> -->
          </div>  
</div>
</div>
              </div>
              <p>created_at {{profile.completeDate|dateCount}} days</p>

            </div>
          
          
      
       