
footer {
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
a{
  padding-bottom: 15px;
}
.card{
  color: rgb(233, 112, 196);
}
/* .container{
  background-color: lightpink;
} */